<style type="text/css">
  .article {
    background-color: #F1F8E0;
    box-shadow: 5px 5px 5px #888888;
    padding-left: 5px;
    padding-top: 5px;
    
    padding-right: 5px;
  }
</style>

<ul class="breadcrumb">
  <li><%= link_to "Return to blog list", root_path %></li>
  <span class="divider">/</span>
</ul>
<br/>
<br/>

<% if @blog_entries.count == 0 %>
  No blogs available. Check back later.
  <br/>
  <br/>
<% else %>
  
      <% @blog_entries.each do |blog|%>
      <div class="article">
        <div class="asset">
          <h1><%= blog.title %></h1>
        </div>
        <div class="asset-metabar">
          <span class="asset-metabar-time asset-metabar-time.nobyline">
            <%= blog.updated_at %>
          </span>
          <div class="asset-metabar-utility">
            <span class="asset-metabar-share- asset-metabar-item">
              Share
            </span>
          </div>
        </div>
        <br/>
        <br/>
        <p><%= raw(blog.story) %></p>
        <hr>
        </div>
      <% end %>
    
  
<% end %>
<br />


